<!--heavily inspired in assignment 1, to fullfil the requirements of assignment 2-->
<div id="wrapper_about_me">
            <br>
            <div id="right_side">
            <figure>
                <img id="photo1" src="/assets/images/me2.jpg" 
                width="125" height="150" alt="myphoto">
            </figure>
            </div>

            <article>
            <h2>Who made this site?</h2>
            
                <p> I, Jaime Gonzalez Sanz am a 23yo networking and it security student 
                at Ontario tech. university since 2021. </p>

                <p> I made this page as a university project for the class of
                Web and Script Programming</p>

                <p> Born and raised in Granada, 
                Spain until the age of 14 in 2013 when I moved to Viña del Mar, Chile.</p>

                <p> So far I've got knowledge in python, html 5, css3 and JavaScript.</p>

                <p> I'm a native Spanish speaker that also knows south American Spanish differences and nuances. </p>


                <p> I'm fluent in English and self-taught Japanese speaker (conversational)</p>

                <p>
                    My interests lie in gaming, Japanese culture (such as anime and music) 
                    and learning many things.
                </p>

                <br>
                <br>
                <br>
            
            </article>
        </div>