<!-- Bttom nav var / footer-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text"> &copy; Copyright 2022. All Rights Reserved. MyGameList (MGL) </h6>

  <!-- thing from the copy paste of bootstrap that could be useful
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fixed bottom</a>
  </div>
  -->
</nav>