  <!--script files-->
  <script src = "/scripts/app.js"></script>

  <!--to make bootstrap work we need jquery and javascript-->
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>
</body>
</html>