<!DOCTYPE html>
<html lang="en">

<!-- this is now the navbar, but on its own .ejs file-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!--CSS files-->
  <link rel='stylesheet' href='/content/app.css' /> <!--no need to specify /public/
    since it knows it by default, cause we wrote it in "app.js" on the main folder-->
  <link rel="stylesheet" href='/bootstrap/dist/css/bootstrap.min.css'>
  <!--to make bootstrap work we need jquery and javascript-->
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

</head>