 <!--heavily inspired in assignment 1, to fullfil the requirements of assignment 2-->
 <br>
 <br>
 <div id="wrapper">
    <div id="left_side">
      <h3>MY GAME LIST</h3>
          <p>
            Welcome to MY GAME LIST (MGL)
            <br>
            You can keep track of all of the games you have played to date here!
          </p>      
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>