<!--heavily inspired in assignment 1, to fullfil the requirements of assignment 2-->
<div id="wrapper_project">
            <div></div>
            <video id="projects" controls preload="auto" poster="/assets/images/thumbnail.jpg">
                <source src="/assets/projects.mp4" type="video/mp4">
                <source src="/assets/projects.ogv" type="video/ogg">
            </video>
            <article>
                <h2>Regarding Other Projects: </h2>
                    <p>Over the past year I've worked in many python related assignments.</p>                    
                    <p>In the video above you can see some of them, such as a quiz generator
                        and Object Oriented Programming.
                    </p>
                    <p>I've done other projects such as working with databases in sqlite3</p>
                    <p>Of course this site itself is my latest "project".</p>
                    <p>My other personal project you can see on my youtube.</p>
                    <p>It consinsts of learning Japanese in a year by studying everyday.</p>
                    <p>I'll be updating this site as I continue to learn new things!</p>

                    <br>
                    <p>Unfortunately none of these projects are available to the public
                    as they were private assignments for university only</p>
            </article>
</div>